body {
  margin: 0;
  padding: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  height: 100vh;
}

.form-section {
  padding: 40px;
}

.summary {
  position: absolute;
  bottom: 0;
  background-color: #32408f;
  color: white;
  z-index: 1;
  width: 100vw;
  padding: 20px 40px;
}

.paper {
  margin: 10px;
}

.space-between {
  justify-content: space-between;
}

.back {
  cursor: pointer;
  display:flex;
  align-content: center;
  color: #3f51b5;
  font-size: 0.875rem;
  letter-spacing: 0.02857em;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.w-75 {
  width: 75ch;
}

.m-5 {
  margin-bottom: 5px;
  margin-top: 5px;
}

.p-10 {
  padding: 10px;
}

.inline {
  display: inline-block;
}

button {
  margin: 20px 0px !important;
}

div.summary-page > div.summary {
  background-color: white;
  color: black;
  position: relative;
  padding: 0;
}

.active {
  color: #3f51b5;
  font-weight: bold;
}

.middle {
  margin-left: 50%;
  margin-top: 50%;
}

ul {
  list-style: none;
  padding-left: 0;
}
